@import "./base";

.page-view {
  padding: 30px;
}

.box-view {
  padding: 30px;
  background-color: white;
}

.align-center {
  text-align: center;
}
.align-right {
  text-align: right;
}

.flow-card {
  background-color: rgba(255, 255, 255, 1);
  box-shadow: 0 2px 40px 0 rgba(4,4,64,0.04);
  border-radius: 5px;
}

.theme-icon {
  font-size: 100px;
  color: theme-color();
}

.tron-icon {
  width: 1em;
  height: 1em;
  vertical-align: -0.15em;
  fill: currentColor;
  overflow: hidden;
}

