@import "./base";

.page-view {
  padding: 30px;
}

.box-view {
  padding: 30px;
  background-color: white;
}

.im-icon {
  width: 1em; height: 1em;
  vertical-align: -0.15em;
  fill: currentColor;
  overflow: hidden;
}

.align-center {
  text-align: center;
}
.align-right {
  text-align: right;
}
